.footer {
  text-align: center;
  width: 100%;
  margin-top: 150px;
  background-color: #5d6673;
  padding-top: 5rem;
  padding-bottom: calc(5rem + 62px);
}

@media only screen and (min-width: 660px) {
  .footer {
    padding-bottom: 5rem;
  }
}

.footer .address {
  display: inline-flex;
}

.footer .address p {
  display: inline-block;
  color: white;
}

.footer .address .dot {
  width: 50px;
}

.footer a {
  color: white;
  text-decoration: underline;
}
.footer a:hover {
  color: white;
  text-decoration: none;
}
.accessebility{
  padding: 1.5rem 0 0 0;
  text-align: center;
}
