---
import BottomDrawer from "../components/BottomDrawer.astro";
import Footer from "../components/Footer.astro";
import SectionAbout from "../components/SectionAbout.astro";
import SectionBand from "../components/SectionBand.astro";
import SectionInfo from "../components/SectionInfo.astro";
import SectionNews from "../components/SectionNews.astro";
import Header from "../components/Header.astro";
import Layout from "../components/Layout.astro";
---

<Layout>
  <Header />
  <main>
    <SectionInfo />
    <SectionNews />
    <SectionBand />
    <SectionAbout />
    <Footer />
    <BottomDrawer />
  </main>
</Layout>
