<script type="module">
  document.addEventListener("scroll", function (e) {
    const hero = document.querySelector(".login-container");
    if (!hero) return;
    const bottomDrawer = document.querySelector(".bottomDrawer");
    if (!bottomDrawer) return;

    const top = hero.offsetTop;
    const height = hero.getBoundingClientRect().height;

    const visible = window.scrollY > top + height;

    if (visible) {
      bottomDrawer.classList.add("bottomDrawer__visible");
    } else {
      bottomDrawer.classList.remove("bottomDrawer__visible");
    }
  });
</script>

<a
  id="bottomDrawer"
  target="_blank"
  href="https://rofusweb.spillemyndigheden.dk/public/rofus/"
  class="block fixed inset-0 top-auto bg-primary text-white p-5 no-underline md:hidden shadow-[1px_1px_20px_black]"
>
  <div class="flex items-center justify-between">
    <div class="login-content__text">Log på ROFUS med MitID</div>
    <img class="login-content__lock" src="/images/digital_signatur_lock.png" />
  </div>
</a>
