---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import { rofusLink } from "./FloatingLogin.astro";
---

<script type="module">
  document.addEventListener("scroll", function (e) {
    const hero = document.querySelector("#header");
    if (!hero) return;
    const bottomDrawer = document.querySelector("#bottomDrawer");
    if (!bottomDrawer) return;

    const top = hero.offsetTop;
    const height = hero.getBoundingClientRect().height;

    const visible = window.scrollY > top + height;

    if (visible) {
      bottomDrawer.classList.add("translate-y-0");
      bottomDrawer.classList.remove("translate-y-full");
    } else {
      bottomDrawer.classList.remove("translate-y-0");
      bottomDrawer.classList.add("translate-y-full");
    }
  });
</script>

<a
  id="bottomDrawer"
  target="_blank"
  href={rofusLink(lang)}
  class="block fixed inset-0 top-auto bg-primary text-white p-5 no-underline md:hidden shadow-[1px_1px_20px_black] translate-y-full transition-transform"
>
  <div class="flex items-center justify-between">
    <div>{t("bottomDrawer.text")}</div>
    <img class="w-[13px]" src="/images/digital_signatur_lock.png" alt="" />
  </div>
</a>
