---
import Button from "./Button.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
import {
  getSecret,
 } from 'astro:env/server';

const t = useTranslations(lang);

export const rofusLink = (lang: string) => `https://rofus${getSecret("ENVIRONMENT") === "staging" ? "demo" : "web"}.spillemyndigheden.dk/public/rofus?language=${lang}`;
---

<div class="floatingLogin overflow-hidden pointer-events-auto rounded-3xl">
  <a
    class="floatingLogin-button block bg-primary text-white px-5 pt-8 pb-5 no-underline rounded-t-3xl relative z-20 transition-all"
    target="_blank"
    href={rofusLink(lang)}
  >
    <img src="/images/logo_toggle.png" class="w-[200px] mb-5" alt="" />
    <div class="flex justify-between items-center">
      <div class="text-xs font-semibold">{t("floatingLogin.title")}</div>
      <img class="w-[13px]" src="/images/digital_signatur_lock.png" alt="" />
    </div>
  </a>

  <div class="floatingLogin-content origin-[top_left_-1px]">
    <div class="px-4 py-6 bg-white text-sm rounded-b-3xl">
      <strong>
        {t("floatingLogin.excerpt")}
      </strong>

      <ul class="list-disc space-y-2 pl-10 my-4">
        <li>{t("floatingLogin.list1")}</li>
        <li>{t("floatingLogin.list2")}</li>
        <li>{t("floatingLogin.list3")}</li>
      </ul>

      <div style={{ color: "red" }} class="font-bold text-center">
        Det er i øjeblikket ikke muligt at logge på ROFUS, da Nemlogin er nede
      </div>

      <Button
        href={rofusLink(lang)}
        className="my-5 w-full"
      >
        {t("floatingLogin.cta")}
      </Button>

      <p class="text-xs text-center leading-relaxed">
        {t("floatingLogin.notaBene")}
      </p>
    </div>
  </div>
</div>
