---
import { useTranslations } from "../utils";
import Button from "./Button.astro";
import T from "./T.astro";

const t = useTranslations(Astro.currentLocale);
---

<div class="floatingLogin overflow-hidden pointer-events-auto rounded-3xl">
  <a
    class="floatingLogin-button block bg-primary text-white px-5 pt-8 pb-5 no-underline rounded-t-3xl relative z-50 transition-all"
    target="_blank"
    href={t("rofusWeb.link")}
  >
    <img src="/images/logo_toggle.png" class="w-[200px] mb-5" alt="" />
    <div class="flex justify-between items-center">
      <div class="text-xs font-semibold">
        <T path="floatingLogin.title" />
      </div>
      <img class="w-[13px]" src="/images/digital_signatur_lock.png" alt="" />
    </div>
  </a>

  <div class="floatingLogin-content origin-[top_left_-1px]">
    <div class="px-4 py-6 bg-white text-sm rounded-b-3xl">
      <strong>
        <T path="floatingLogin.excerpt" />
      </strong>

      <ul class="list-disc space-y-2 pl-10 my-4">
        <li><T path="floatingLogin.list1" /></li>
        <li><T path="floatingLogin.list2" /></li>
        <li><T path="floatingLogin.list3" /></li>
      </ul>

      <Button href={t("rofusWeb.link")} className="my-5 w-full">
        <T path="floatingLogin.cta" />
      </Button>

      <p class="text-xs text-center leading-relaxed">
        <T path="floatingLogin.notaBene" />
      </p>
    </div>
  </div>
</div>
