<footer class="footer clearfix">
  <div class="address">
    <p>
      <span class="subdot fl">Spillemyndigheden</span><br class="hide-br" />
      <span class="hide-dot dot fl">·</span><span class="subdot fl"
        >Englandsgade&nbsp;25,&nbsp;6.&nbsp;sal</span
      ><br class="hide-br" />
      <span class="hide-dot dot fl">·</span><span class="subdot fl"
        >5000 Odense C</span
      ><br class="hide-br" />
      <span class="hide-dot dot fl">·</span><a
        href="mailto:mail@spillemyndigheden.dk"
        class="subdot fl">mail@spillemyndigheden.dk</a
      ><br class="hide-br" />
      <span class="hide-dot dot fl">·</span><span class="subdot fl"
        >CVR:&nbsp;34730415</span
      ><br class="hide-br" />
    </p>
  </div>
  <div class="accessibility">
    <a href="https://www.was.digst.dk/rofus-nu" target="_blank"
      >Tilgængelighedserklæring</a
    >
    &nbsp;&nbsp;&nbsp;
    <a
      href="https://www.spillemyndigheden.dk/privatlivspolitik-rofus"
      target="_blank">Privatlivspolitik</a
    >
    &nbsp;&nbsp;&nbsp;
    <a href="cookie-policy.html">Cookiepolitik</a>
  </div>
</footer>
