---
import { getAbsoluteLocaleUrl } from "astro:i18n";
import { useTranslations } from "../utils";
import LanguageSelector from "./LanguageSelector.astro";
import T from "./T.astro";

const locale = Astro.currentLocale ?? "da";
const t = useTranslations(Astro.currentLocale);
---

<footer class="bg-bgFooter text-white pb-32 md:pb-20 pt-20 mt-40">
  <div class="container space-y-6">
    <div
      class="text-center flex flex-col lg:flex-row lg:justify-between leading-relaxed"
    >
      <span class="whitespace-nowrap"><T path="spm.name" /></span>
      <span class="hidden lg:inline">路</span>
      <span class="whitespace-nowrap"><T path="spm.address" /></span>
      <span class="hidden lg:inline">路</span>
      <span class="whitespace-nowrap"><T path="spm.city" /></span>
      <span class="hidden lg:inline">路</span>
      <a href={`mailto:${t("spm.email")}`}>
        <T path="spm.email" />
      </a>
      <span class="hidden lg:inline">路</span>
      <span class="whitespace-nowrap"><T path="spm.cvr" /></span>
    </div>

    <div
      class="flex flex-col lg:flex-row gap-x-6 justify-center items-center leading-relaxed"
    >
      <a href={t("footer.links.availabilityStatement.link")} target="_blank">
        <T path="footer.links.availabilityStatement.title" /></a
      >
      <a href={t("footer.links.privacyPolicy.link")} target="_blank"
        ><T path="footer.links.privacyPolicy.title" /></a
      >
      <a href={getAbsoluteLocaleUrl(locale, "cookie-policy")}>
        <T path="footer.links.cookiePolicy.title" />
      </a>
    </div>

    <LanguageSelector />
  </div>
</footer>
