<footer class="bg-bgFooter text-white py-20 mt-40">
  <div class="container space-y-6">
    <div
      class="text-center flex flex-col lg:flex-row lg:justify-between leading-relaxed"
    >
      <span>Spillemyndigheden</span>
      <span class="hidden lg:inline">·</span>
      <span>Englandsgade&nbsp;25,&nbsp;6.&nbsp;sal</span>
      <span class="hidden lg:inline">·</span>
      <span>5000 Odense C</span>
      <span class="hidden lg:inline">·</span>
      <a href="mailto:mail@spillemyndigheden.dk">mail@spillemyndigheden.dk</a>
      <span class="hidden lg:inline">·</span>
      <span>CVR:&nbsp;34730415</span>
    </div>

    <div
      class="flex flex-col lg:flex-row gap-x-6 justify-center items-center leading-relaxed"
    >
      <a href="https://www.was.digst.dk/rofus-nu" target="_blank"
        >Tilgængelighedserklæring</a
      >
      <a
        href="https://www.spillemyndigheden.dk/privatlivspolitik-rofus"
        target="_blank">Privatlivspolitik</a
      >
      <a href="cookie-policy.html">Cookiepolitik</a>
    </div>
  </div>
</footer>
