---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { defaultLang } from "../i18n/ui";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="bg-bgFooter text-white pb-32 md:pb-20 pt-20 mt-40">
  <div class="container space-y-6">
    <div
      class="text-center flex flex-col lg:flex-row lg:justify-between leading-relaxed"
    >
      <span>{t("footer.item1")}</span>
      <span class="hidden lg:inline">路</span>
      <span>{t("footer.item2")}</span>
      <span class="hidden lg:inline">路</span>
      <span>{t("footer.item3")}</span>
      <span class="hidden lg:inline">路</span>
      <a href={`mailto:${t("footer.item4")}`}>{t("footer.item4")}</a>
      <span class="hidden lg:inline">路</span>
      <span>{t("footer.item5")}</span>
    </div>

    <div
      class="flex flex-col lg:flex-row gap-x-6 justify-center items-center leading-relaxed"
    >
      <a href="https://www.was.digst.dk/rofus-nu" target="_blank"
        >{t("footer.links.availabilityStatement.title")}</a
      >
      <a
        href="https://www.spillemyndigheden.dk/privatlivspolitik-rofus"
        target="_blank">{t("footer.links.privacyPolicy.title")}</a
      >
      <a href={lang === defaultLang ? `/cookie-policy` : `/${lang}/cookie-policy`}>{t("footer.links.cookiePolicy.title")}</a>
    </div>
  </div>
</footer>
