---
import FloatingLogin from "./FloatingLogin.astro";
---

<section
  id="section-hero"
  class="sticky top-0 h-screen overflow-hidden flex justify-center items-center"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 391 196"
    class="z-10 w-[200px]"
  >
    <path
      d="M 107.532 0.111 C 109.656 0.107 111.779 0.101 113.902 0.096 C 119.642 0.083 125.382 0.082 131.122 0.084 C 135.928 0.085 140.734 0.081 145.54 0.076 C 156.886 0.065 168.232 0.064 179.578 0.07 C 191.25 0.076 202.922 0.064 214.594 0.043 C 224.644 0.025 234.694 0.019 244.745 0.023 C 250.735 0.024 256.725 0.022 262.715 0.008 C 268.352 -0.005 273.989 -0.002 279.626 0.01 C 281.684 0.012 283.741 0.01 285.798 0.001 C 315.245 -0.109 341.373 7.273 363.142 27.984 C 379.758 45.475 389.55 68.221 390.412 92.386 L 390.533 94.936 C 391.148 119.339 383.771 144.031 367.412 162.386 L 365.552 164.676 C 353.116 179.63 335.09 188.876 316.412 193.386 L 314.361 193.912 C 304.386 196.099 294.225 195.682 284.07 195.677 C 281.91 195.683 279.75 195.689 277.591 195.697 C 271.748 195.714 265.905 195.719 260.061 195.721 C 256.402 195.721 252.744 195.726 249.085 195.731 C 236.297 195.75 223.51 195.758 210.722 195.757 C 198.841 195.755 186.959 195.777 175.078 195.808 C 164.846 195.834 154.615 195.845 144.384 195.844 C 138.286 195.844 132.189 195.849 126.092 195.87 C 120.351 195.89 114.609 195.89 108.868 195.875 C 106.774 195.873 104.681 195.878 102.587 195.89 C 74.213 196.044 48.647 188.585 27.647 168.683 C 7.852 148.334 -0.25 122.653 0.006 94.753 C 0.216 86.324 1.096 78.523 3.412 70.386 L 4.185 67.417 C 8.22 53.647 15.702 40.879 25.412 30.386 L 27.404 28.186 C 48.855 5.573 77.76 0.071 107.532 0.111 Z"
      fill="#A4BDE4"></path>
    <g transform="translate(-196)" class="animate-logoSlider">
      <path
        d="M 292.725 10.074 L 295.472 10.057 C 300.879 10.114 305.912 10.714 311.192 11.892 C 313.321 12.366 315.446 12.729 317.6 13.073 C 338.911 17.91 356.98 34.138 368.537 52.011 C 371.019 56.311 372.892 60.759 374.662 65.386 L 375.409 67.326 C 383.523 89.549 381.367 115.698 371.849 137.011 C 362.261 157.065 345.362 172.322 324.596 180.288 C 301.026 188.415 275.236 187.974 252.412 177.386 C 242.992 172.779 235.758 166.722 228.412 159.386 L 226.162 157.171 C 210.295 140.53 203.767 117.235 204.224 94.749 C 204.417 89.161 205.144 83.833 206.412 78.386 L 207.119 75.14 C 212.702 52.68 226.861 34.064 246.609 22.122 C 261.097 13.692 276.047 10.146 292.725 10.073 L 292.725 10.074 Z"
        fill="#FDFDFE"></path>
      <path
        d="M 302.412 67.386 L 321.412 67.386 L 321.412 128.386 L 302.412 128.386 L 302.412 67.386 Z M 263.412 67.386 L 282.412 67.386 L 282.412 128.386 L 263.412 128.386 L 263.412 67.386 Z"
        fill=""></path>
    </g>
  </svg>

  <img
    class="absolute inset-0 w-full h-full object-cover origin-center lg:hidden animate-heroBgScale"
    sizes="(max-width: 1264px) 100vw, 1264px"
    srcset="
        /images/top/mobile/bg_scale,w_768.jpg   768w,
        /images/top/mobile/bg_scale,w_873.jpg   873w,
        /images/top/mobile/bg_scale,w_990.jpg   990w,
        /images/top/mobile/bg_scale,w_1066.jpg 1066w,
        /images/top/mobile/bg_scale,w_1168.jpg 1168w,
        /images/top/mobile/bg_scale,w_1263.jpg 1263w,
        /images/top/mobile/bg_scale,w_1264.jpg 1264w
      "
    src="/images/top/mobile/bg_scale,w_1264.jpg"
    alt=""
  />
  <img
    class="absolute inset-0 w-full h-full object-cover origin-center hidden lg:block animate-heroBgScale"
    sizes="(max-width: 5000px) 100vw, 5000px"
    srcset="/images/top/desktop/bg_scale,w_768.jpg 768w,
    /images/top/desktop/bg_scale,w_1108.jpg 1108w,
    /images/top/desktop/bg_scale,w_1805.jpg 1805w,
    /images/top/desktop/bg_scale,w_1792.jpg 1792w,
    /images/top/desktop/bg_scale,w_2125.jpg 2125w,
    /images/top/desktop/bg_scale,w_2388.jpg 2388w,
    /images/top/desktop/bg_scale,w_2637.jpg 2637w,
    /images/top/desktop/bg_scale,w_2886.jpg 2886w,
    /images/top/desktop/bg_scale,w_3120.jpg 3120w,
    /images/top/desktop/bg_scale,w_3338.jpg 3338w,
    /images/top/desktop/bg_scale,w_3614.jpg 3614w,
    /images/top/desktop/bg_scale,w_3891.jpg 3891w,
    /images/top/desktop/bg_scale,w_4091.jpg 4091w,
    /images/top/desktop/bg_scale,w_4259.jpg 4259w,
    /images/top/desktop/bg_scale,w_4438.jpg 4438w,
    /images/top/desktop/bg_scale,w_4615.jpg 4615w,
    /images/top/desktop/bg_scale,w_4778.jpg 4778w,
    /images/top/desktop/bg_scale,w_4876.jpg 4876w,
    /images/top/desktop/bg_scale,w_4950.jpg 4950w,
    /images/top/desktop/bg_scale,w_5000.jpg 5000w"
    src="/images/top/desktop/bg_scale,w_5000.jpg"
    alt=""
  />
</section>
