---
import { useTranslations } from "../utils";
import Button from "./Button.astro";
import SectionHeader from "./SectionHeader.astro";
import T from "./T.astro";

const t = useTranslations(Astro.currentLocale);
---

<section role="region" aria-labelledby="about-rofus">
  <div class="container py-12">
    <SectionHeader id="about-rofus" primary>
      <T path="sectionInfo.title" />
    </SectionHeader>

    <div
      class="pt-10 md:pt-16 grid grid-cols-1 md:grid-cols-2 gap-10 md:gap-20"
    >
      {
        ["section1", "section2", "section3", "section4"].map((idx) => (
          <div
            role="region"
            aria-labelledby={t(`sectionInfo.${idx}.ariaLabel` as any)}
            class="leading-relaxed"
          >
            <h3
              id={t(`sectionInfo.${idx}.ariaLabel` as any)}
              class="text-xl font-bold uppercase my-5"
            >
              <T path={`sectionInfo.${idx}.question` as any} />
            </h3>
            <p>
              <T path={`sectionInfo.${idx}.answer` as any} />
            </p>
          </div>
        ))
      }
    </div>

    <div class="text-center">
      <Button href={t("rofusWeb.link")} className="my-10">
        <T path="sectionInfo.cta" />
      </Button>
      <p class="text-xs italic">
        <T path="sectionInfo.notaBene" />
      </p>
    </div>
  </div>
</section>
