---
import { useTranslations } from "../utils";
import SectionHeader from "./SectionHeader.astro";
import T from "./T.astro";
const t = useTranslations(Astro.currentLocale);
---

<section role="region" aria-labelledby="info-on-rofus">
  <div class="container py-12">
    <SectionHeader id="info-on-rofus">
      <T path="sectionAbout.title" />
    </SectionHeader>

    <div
      class="pt-10 md:pt-16 grid grid-cols-1 md:grid-cols-2 gap-10 md:gap-16 lg:gap-20"
    >
      <div>
        <div
          role="region"
          aria-labelledby={t("sectionAbout.section1.ariaLabel")}
          class="leading-relaxed space-y-5"
        >
          <h3
            id={t("sectionAbout.section1.ariaLabel")}
            class="text-xl font-bold uppercase my-5"
          >
            <T path="sectionAbout.section1.title" />
          </h3>
          <p>
            <T path="sectionAbout.section1.content" />
          </p>
          <p>
            <T path="spm.name" /><br />
            <T path="spm.address" /><br />
            <T path="spm.city" />
          </p>
        </div>

        <div
          role="region"
          aria-labelledby={t("sectionAbout.section2.ariaLabel")}
          class="leading-relaxed space-y-5"
        >
          <h3
            id={t("sectionAbout.section2.ariaLabel")}
            class="text-xl font-bold uppercase my-5"
          >
            <T path="sectionAbout.section2.title" />
          </h3>
          <p>
            <T path="sectionAbout.section2.content" />
          </p>
        </div>
      </div>

      <div>
        <div
          role="region"
          aria-labelledby={t("sectionAbout.section3.ariaLabel")}
          class="leading-relaxed space-y-5"
        >
          <h3
            id={t("sectionAbout.section3.ariaLabel")}
            class="text-xl font-bold uppercase my-5"
          >
            <T path="sectionAbout.section3.title" />
          </h3>
          <p>
            <T path="sectionAbout.section3.content" />
          </p>
          <ul class="list-disc pl-8">
            <li><T path="sectionAbout.section3.list1" /></li>
            <li><T path="sectionAbout.section3.list2" /></li>
            <li><T path="sectionAbout.section3.list3" /></li>
            <li><T path="sectionAbout.section3.list4" /></li>
          </ul>
          <p>
            <T path="sectionAbout.section3.notaBene" />
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
