---
import Button from "./Button.astro";
---

<section
  role="region"
  aria-labelledby="take-a-test"
  class="bg-primary text-white grid grid-rows-2 lg:grid-rows-1 grid-cols-1 lg:grid-cols-2"
>
  <div class="flex justify-center items-center h-[380px]">
    <div class="flex flex-col items-center gap-y-8">
      <img src="/images/icon_gamble.png" class="w-20" alt="" />
      <h2 id="take-a-test" class="text-2xl font-bold">Spiller du for meget?</h2>
      <Button href="https://www.stopspillet.dk/#test-dig-selv"
        >Test dig selv
      </Button>
    </div>
  </div>

  <div class="flex justify-center items-center relative bg-black h-[380px]">
    <img
      src="/images/image_gamble.jpg"
      class="absolute inset-0 w-full h-full object-cover object-[90%_50%] opacity-40"
      alt=""
    />

    <div class="relative mx-5 md:mx-auto max-w-[440px]">
      <h3 class="text-xl font-bold uppercase mb-5">
        Få råd og vejledning om ansvarligt spil hos StopSpillet
      </h3>
      <p class="mb-5">
        Ring eller skriv til StopSpillet, Spillemyndighedens hjælpelinje om
        spilafhængighed. Vores rådgivere sidder klar til at tale med dig.
      </p>
      <p>
        <a href="https://www.stopspillet.dk/">Læs mere på StopSpillet.dk</a>
      </p>
    </div>
  </div>
</section>
