<div role="region" aria-labelledby="take-a-test" class="part-two clearfix">
  <div class="tile test fl">
    <div class="center">
      <div class="icon-chip"></div>
      <h2 id="take-a-test">Spiller du for meget?</h2>
      <a href="https://www.stopspillet.dk/#test-dig-selv" class="button"
        >Test dig selv</a
      >
    </div>
  </div>
  <div class="tile poker fl textOverlay">
    <div class="textOverlayContent">
      <h3>Få råd og vejledning om ansvarligt spil hos StopSpillet</h3>
      <p>
        Ring eller skriv til StopSpillet, Spillemyndighedens hjælpelinje om
        spilafhængighed. Vores rådgivere sidder klar til at tale med dig.
      </p>
      <p>
        <a href="https://www.stopspillet.dk/">Læs mere på StopSpillet.dk</a>
      </p>
    </div>
  </div>
</div>
