---
import SectionHeader from "./SectionHeader.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section role="region" aria-labelledby="info-on-rofus">
  <div class="container py-12">
    <SectionHeader id="info-on-rofus">{t("sectionAbout.title")}</SectionHeader>

    <div
      class="pt-10 md:pt-16 grid grid-cols-1 md:grid-cols-2 gap-10 md:gap-16 lg:gap-20"
    >
      <div>
        <div
          role="region"
          aria-labelledby="register"
          class="leading-relaxed space-y-5"
        >
          <h3 id="register" class="text-xl font-bold uppercase my-5">
            {t("sectionAbout.section1.title")}
          </h3>
          <p>
            {t("sectionAbout.section1.content")}
            <a
              href={t("sectionAbout.section1.link.href")}
              target="_blank"
              >{t("sectionAbout.section1.link.text")}</a
            >
            {t("sectionAbout.section1.text3")}
            <a
              href={t("sectionAbout.section1.link2.href")}
              target="_blank"
              >{t("sectionAbout.section1.link2.text")}</a
            >
            {t("sectionAbout.section1.text4")}
          </p>
          <p>
            {t("sectionAbout.section1.text5").split("\n").map((line: string) => (
              <span class="block">{line}</span>
            ))}
          </p>
        </div>

        <div
          role="region"
          aria-labelledby="contact-info"
          class="leading-relaxed space-y-5"
        >
          <h3 id="contact-info" class="text-xl font-bold uppercase my-5">
            {t("sectionAbout.section2.title")}
          </h3>
          <p>
            {t("sectionAbout.section2.content")}
            <a href={t("sectionAbout.section2.text2.href")} target="_blank"
              >{t("sectionAbout.section2.text2.text")}</a
            >
            {t("sectionAbout.section2.text3")} <strong><a href={t("sectionAbout.section2.phone.href")}>{t("sectionAbout.section2.phone.text")}</a></strong> {t("sectionAbout.section2.text3.1")}
          </p>
          <p>
            <b>{t("sectionAbout.section2.text4")}</b><br />
            {t("sectionAbout.section2.text5").split("\n").map((line: string) => (
              <span class="block">{line}</span>
            ))}
          </p>
        </div>
      </div>

      <div>
        <div
          role="region"
          aria-labelledby="access"
          class="leading-relaxed space-y-5"
        >
          <h3 id="access" class="text-xl font-bold uppercase my-5">
            {t("sectionAbout.section3.title")}
          </h3>
          <p>
            {t("sectionAbout.section3.content")}
          </p>
          <p>
            {t("sectionAbout.section3.text2")}
          </p>
          <ul class="list-disc pl-8">
            <li>
              {t("sectionAbout.section3.list1")}
            </li>
            <li>
              {t("sectionAbout.section3.list2")}
            </li>
            <li>
              {t("sectionAbout.section3.list3")}
            </li>
            <li>
              {t("sectionAbout.section3.list4")}
            </li>
          </ul>
          <p>
            {t("sectionAbout.section3.notaBene")}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
